*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #ffffff;
    font-family: sans-serif;
    & .heropage{
        height: 93vh;
        background-image: url(../images/IN-en-20230828-popsignuptwoweeks-perspective_alpha_website_small.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        & .bgcolor{
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(14,0,0,0.6) 50%, rgba(0,0,0,0.8) 100%);
            & .navbar{
                height: 80px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                & img{
                    transform: translateX(-120px);
                    + form{
                        transform: translateX(80px);
                        & select{
                            background-color: #292929b3;
                            border-radius: 3px;
                            width: 120px;
                            height: 35px;
                            padding-left: 30px;
                            & .o{
                            color: #ffffff;
                            height: 80px;
                            }
                            + .s1{
                                background-color: #ce0000;
                                border: none;
                                height: 35px;
                                width: 80px;
                                border-radius: 5px;
                                cursor: pointer;
                                margin-inline: 20px;
                            }
                            + .s1:hover{
                                background-color: #b40000;
                            }
                        }
                    }
                }
                + h1{
                    padding-top: 180px;
                    font-size: 45px;
                    font-weight: 800;
                    + p{
                        font-size: 25px;
                        padding: 20px 0px;
                        + p{
                            font-size: 21px;
                            + form{
                                padding-top: 50px;
                                & .i{
                                    height: 60px;
                                    width: 400px;
                                    border: none;
                                    outline: none;
                                    border-radius: 5px;
                                    font-size: 18px;
                                }
                                & .i1{
                                    background-color: #292929b3;
                                    border: 0.5px solid #ffffff;
                                    padding-left: 10px;
                                }
                                & .i2{
                                    width: 200px;
                                    background-color: #ce0000;
                                    font-size: 25px;
                                    padding-bottom: 6px;
                                    cursor: pointer;
                                }
                                & .i2:hover{
                                    background-color: #b40000;
                                }
                            }
                        }
                    }
                }
            }
        }
        ~ .break
        {
            height: 10px;
            background-color: #000000c4;
            + .page{
                height: 500px;
                /* background-color: #000000; */
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                & h1{
                    font-size: 45px;
                    font-weight: 800;
                    padding-bottom: 20px;
                    + p{
                        font-size: 23px;
                    }
                }
            }
        }
    }
}